{% extends "base.html" %}

{% block title %}Event Page{% endblock %}

{% block content %}
<div class="container">

  <!-- Large column for event info -->
  <div class="desc-div">
    <img src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_75,f_auto,w_800/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1675684680%2Fck0c50017okuuynsxtrv.jpg" alt="Event Photo" class="img-fluid">
    <h1 class="event-title">{{ event_title }}</h1>
    <p class="event-description">
      {{ event_description }}
    </p>
  </div>
  
  <!-- Small column for event details -->
  <div class="details-div">
    <h2>Event Details</h2>
    <ul class = "details-list">
      <li><strong>Date:</strong> {{ event_date }}</li>
      <li><strong>Time:</strong> {{ event_time }}</li>
      <li><strong>Venue:</strong> {{ event_venue }}</li>
    </ul>
    <button class="register-btn">Register</button>
  </div>
</div>

<!-- <div id = "div0">
  <div id = "div1">
    <div class = "divs"></div>
    <div class = "divs"></div>
  </div>
  <div id = "div2">
    <div class = "divs"></div>
    <div class = "divs"></div>
  </div>
</div> -->
{% endblock %}