body {
  background-color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif , sans-serif;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
form {
  margin-right:300px ;
  margin: 50px auto;
  width: 400px;
  padding :30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.form-group {
  
  width:100%;
  border: #323638;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
button[type="submit"] {
  display: block;
  width: 20%;
  margin:auto;
  padding: 10px;
  background-color: #345464;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #414c4e;
}
